:host {
  height: var(--header-height);

  .content {
    height: 100%;
    padding-inline: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo {
      width: 24px;
    }
  }
}
